aiogram==3.4.1
aiohttp-socks==0.8.4
aiosqlite==0.19.0
alembic==1.13.0
asyncpg==0.29.0
cachetools==5.3.2
certifi==2023.7.22
fastapi==0.109.1
greenlet==3.0.0
loguru==0.7.2
pycryptodome==3.19.1
pydantic-settings==2.0.3
SQLAlchemy==2.0.22
uvicorn==0.24.0.post1